<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block meta %}<!-- block meta -->{% endblock %}
	<title>{% block title %}?{% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
	{% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>

    <div class="">
        <div class="">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="">
            <div class="">
                <p>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                </p>
                <p>Powered by <a href="#">BilibiliFans Python Webapp</a>. Copyright &copy; 2017. </p>
            </div>
        </div>
    </div>
</body>
</html>