<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block meta %}<!-- block meta -->{% endblock %}
	<title>{% block title %}?{% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/china.js"></script>
	{% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <div class="row" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="col-md-10"><p class="text-right">登录</p></div>
    </div>
    <div class="container">
        <div class="row">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="row" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="">
            <div class="">
                <p>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                    <a target="_blank" href="#" class=""></a>
                </p>
                <p class="text-center">Powered by <a href="#">BilibiliFans Python Webapp</a>. Copyright &copy; 2017. </p>
            </div>
        </div>
    </div>
    {% block endbody %}{% endblock %}
</body>
</html>