{% extends '__base__.html' %}

{% block title %}{{mid}}的粉丝数据{% endblock %}
{% block beforehead %}
<style>
.pagination>li>a{border: none;}
.omit{cursor: default;}
.pagination>li>a.omit:hover{background-color: #fff;}
</style>
<script>
function assemblePageTurnerParams(itemCount,pageIndex,pageCount,pageSize) {

	var itemCount = itemCount;
	var pageIndex = pageIndex;
	var pageCount = pageCount;
	var pageSize = pageSize;
	var displayPageList = [];

	var firstPage = ''
	//第一页时 翻上页
	if(pageIndex<1){
		pageIndex = 1
	}
	//最后一个 翻下页
	else if(pageIndex>pageCount){
		pageIndex = pageCount
	}
	//总页数小于7页 
	if (pageCount<7){
		for (var j=2; j<=pageCount; j++){
			displayPageList.push(j)
		}
	}
	//总页数大于等于7页
	else{
		if (pageIndex<5){
			firstPage = 2
		}
		else if(pageIndex>pageCount-3){
			firstPage = pageCount - 5
		}
		else{
			firstPage = pageIndex-2;
		}
		for (var i=firstPage; i<firstPage+5; i++){
			displayPageList.push(i)
		}
	}

	var params = {
		itemCount: itemCount,
		pageIndex: pageIndex,
		pageCount: pageCount,
		pageSize: pageSize,
		displayPageList: displayPageList
	}
	return params
};

function initVM(data) {
	var vm = new Vue({
		el: '#vm',
		data: {
			infos: data.infos,
			page: data.page,
			pageTurner: {
				itemCount: data.page.item_count,
				pageIndex: data.page.page_index,
				pageCount: data.page.page_count,
				pageSize: data.page.page_size,
				displayPageList: [2,3,4,5,6]
			}
		},
		ready: function() {
			this.queryData(1)
		},
		methods: {
			queryData:function(page){
				var _self = this
				if(page==0 || page>_self.page.page_count || page==_self.pageTurner.pageIndex){return false;}
				$.getJSON('/api/browse/' + {{mid}}, {
			        page: page
			    }, function (data) {
			    	_self.infos = data.infos;
			    	_self.page = data.page;
			    	_self.pageTurner = assemblePageTurnerParams(_self.page.item_count,page,_self.page.page_count,_self.page.page_size)
			    });				
			}
		}
	});
}
$(function() {
    $.getJSON('/api/browse/' + {{mid}}, {
        page: {{ page_index }}
    }, function (data) {
        initVM(data);
        $('.loading').hide();
    });
});
</script>
{% endblock %}
{% block content %}
	<p class="loading">loading...</p>
	{% raw %}
	<div id="vm" class="table-responsive table-striped">
	  <table class="table">
    	<thead>
			<th>name</th>
			<th>mid</th>
			<th>level</th>
			<th>attention</th>
			<th>regtime</th>
			<th>sex</th>
			<th>place</th>
			<th>fans</th>
    	</thead>
    	<tbody>
    	
			<tr v-for="(info, index) in infos" :class=" index %2!=0 ? 'info' : '' ">
				<td>{{info.name}}</td>
				<td>{{info.mid}}</td>
				<td>{{info.level}}</td>
				<td>{{info.attention_num}}</td>
				<td>{{new Date(info.regtime*1000).toLocaleString().replace(/:\d{1,2}$/,' ')}}</td>
				<td>{{info.sex}}</td>
				<td>{{info.place}}</td>
				<td>{{info.fans_num}}</td>
			</tr>
    	</tbody>
	  </table>
		<nav class="text-center">
		  	<ul class="pagination">  
	            <li v-on:click="queryData(pageTurner.pageIndex-1)" :class="pageTurner.pageIndex == 1 ? 'disabled' : '' " ><a href="#">«</a></li>  
	            <!-- 首页 -->  
	            <li v-on:click="queryData(1)" :class="pageTurner.pageIndex == 1 ? 'active' : '' "><a href="#">1</a></li>  
	            <li v-if="pageTurner.pageIndex>4 && pageTurner.pageCount>7"><a href="#" class="omit">...</a></li>  
	  
	            <!-- 展示页 -->  
	            <li v-for="page in pageTurner.displayPageList" :class="page == pageTurner.pageIndex ? 'active' : '' " v-on:click="queryData(page)"><a href="#">{{ page }}</a></li>  
	  
	            <!-- 尾页 -->  
	            <li v-if="pageTurner.pageIndex<pageTurner.pageCount-3 && pageTurner.pageCount>7 " ><a href="#" class="omit">...</a></li>  
	            <li v-on:click="queryData(pageTurner.pageCount)" :class="pageTurner.pageIndex == pageTurner.pageCount ? 'active' : '' " v-if="pageTurner.pageCount != 1 && pageTurner.pageCount>6"><a href="#">{{ pageTurner.pageCount }}</a></li>  
	            <li v-on:click="queryData(pageTurner.pageIndex+1)" :class="pageTurner.pageIndex == pageTurner.pageCount ? 'disabled' : '' "><a href="#">»</a></li>  
	        </ul>
		</nav>
	</div>
	{% endraw %}
{% endblock %}